<style>
    .EP-article-main {
        margin-top: 22px;
        min-height: 2000px;
    }

    .EP-article-main p {
        margin-bottom: 20px !important;
    }

    .EP-article-main .EP--flex {
        display: flex;
    }

    .EP-article-main .EP--justify--center {
        justify-content: center;
    } 

    .EP-article-main .EP--flex--1 {
        flex: 1;
    }

    @media screen and (max-width: 600px) {
        .EP-article-main .EP--mt--60 {
            margin-top: 60px;
        }
    }
    
    .EP-article-main .EP--mb--24 {
        margin-bottom: 24px;
    }

    .EP-article-main .EP--mb--22 {
        margin-bottom: 22px;
    }

    .EP-article-main .EP-mb-28 {
        margin-bottom: 28px;
    }

    .EP-article__hero {
        /* background-image: url(https://res.cloudinary.com/duecvwrkz/image/upload/v1687508847/Eureka%20Pet/eureka-image37_ey0udc.png); */
        background-size: cover;
        max-width: 1340px;
        width: 90%;
        margin: 0 auto;
        background-color: #FDF5E9;
        border-radius: 20px;
        min-height: 543px;
        padding-left: 113px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-height: 542px;
        overflow: hidden;
        margin-top: 22px;
    }

    .EP-article__hero > div {
        flex: 1;
    }

    .EP-article__hero .EP-hero__image {
        flex: 1;
    }

    .EP-article__hero .EP-hero__image img {
        width: 312px;
    }

    .EP-article__hero h1 {
        line-height: 60px !important;
        font-size: 50px !important;
        max-width: 558px;
    }

    .EP-article__hero .EP-article__hero__col1 {
        max-width: 100%;
        font-family: var(--OSTR);
    }

    .EP-article__hero .EP-article__hero__col1 .EP--flex {
        gap: 32px;
        margin-top: 42px;
    }

    .EP-article__hero .EP-article__hero__col1 label {
        font-family: inherit;
        font-size: 17px;
        font-weight: 500;
        color: #403D36;
    }

    .EP-article-main .EP-article__inner {
        max-width: 1114px;
        width: 90%;
        margin: 0 auto;
        margin-top: 65px;
    }

    .EP-article-main .EP-article__section__two {
        display: flex;
        gap: 55px;
    }

    .EP-article-main .EP-article__section__two .EP-article__section__two__left {
        flex: 2;
    }

    .EP-article-main .EP-article__section__two .EP-article__section__two__left p,
    .EP-article-main .EP-article__section__two .EP-article__section__two__right p {
        color: #000;
        font-size: 20px;
        line-height: 25px;
    }

    .EP-article-main .EP-article__section__two .EP-article__section__two__left h2 p {
        font-size: 28px !important;
        line-height: 35px !important; 
    }

    .EP-article-main .EP-article__section__two .EP-article__section__two__right {
        max-height: 834px;
        flex: 1;
        background-color: #403D36;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .EP-article-main .EP-article__section__two .EP-article__section__two__right h3, 
    .EP-article-main .EP-article__section__two .EP-article__section__two__right h5 {
        color: #F6AF00;
        font-family: var(--WIND) !important;
    }

    .EP-article-main .EP-article__section__two .EP-article__section__two__right img {
        max-height: 410px;
        width: auto;
        transform: translateX(11%);
    }

    .EP-article-main .EP-article__section__two__right__inner {
        padding: 25px 25px 25px 60px;
    }

    .EP-article-main .EP-article__section__two__right__inner__row1 {
        position: relative;
        z-index: 2;
    }

    .EP-article-main .EP-article__section__two__right__inner__row1 h3 {
        font-size: 60px !important;
    }

    .EP-article-main .EP-article__section__two__right__inner__row2 {
        margin-top: -16%;
    }

    .EP-article-main .EP-article__section__two__right__inner__row3 {
        margin-top: 24px;
        max-width: 91%;
    }
    
    .EP-article-main .EP-article__section__two__right__inner__row3 p:first-of-type {
        margin-bottom: 28px !important;
    }

    .EP-article-main .EP-article__section__two__right__inner__row3 p {
        color: #fff !important; 
        text-align: center;
    }

    .EP-article-main .EP__article__dog__notice {
        background-color: #FAAE50;
        border-radius: 20px; 
        padding: 12px 50px;
        position: relative;
    }

    .EP-article-main .EP__article__dog__notice h5 {
        color: #000 !important;
        font-size: 20px !important;
        line-height: 24px !important;
        text-align: center;
        max-width: 95%;
    }

    .EP-article-main .EP__article__dog__notice::after {
        content: url('');
        background: url('https://res.cloudinary.com/duecvwrkz/image/upload/v1687516771/Eureka%20Pet/Article_Pet_Notice_hfa4cq.svg') no-repeat;
        position: absolute;
        top: 0;
        right: -92%;
        width: 100%;
        height: 120%;
        background-size: contain;
    }

    /*
    .EP-article-main .EP__article__dog__notice h5::after {
        content: url('');
        background: url('https://res.cloudinary.com/duecvwrkz/image/upload/v1687516771/Eureka%20Pet/Article_Pet_Notice_hfa4cq.svg') no-repeat;
        position: absolute;
        top: 0;
        right: -92%;
        width: 100%;
        height: 120%;
        background-size: contain;
    }
    */

    .EP_Quete{
        padding-left:30px;
        position:relative;
    }  

    .EP_Quete::before{
        background-image: url('https://res.cloudinary.com/duecvwrkz/image/upload/v1687510662/Eureka%20Pet/unnamed_ajkdgt.png');
        content: "";
        height: 30px;
        position: absolute;
        width: 30px;
        background-repeat: no-repeat;
        left: -8px;
        width:30px;
    }

    /* slider stylings */
    .EP-single-blog-slider {
        margin-top: 32px;
        margin-bottom: 45px;
    }

    .EP-single-blog-slider .slide-image {
        max-height: 578px !important;
    }

    .EP-single-blog-slider .cf-widget-items-wrapper {
        max-height: 578px !important;
        border-radius: 20px;
    }

    .EP-single-blog-slider .cf-slider-arrow {
        top: calc(90% - 40px) !important;
    }

    .EP-single-blog-slider .cf-slider-pager .cf-pager-button.active {
        background-color: #fff !important;
    }

    .EP-single-blog-slider .cf-slider-pager .cf-pager-button {
        background-color: transparent;
        border: 1px solid #fff;
    }

    .EP-article__section__seven {
        margin-bottom: 55px !important;
    }

    .EP-article__section__three h1, 
    .EP-article__section__seven h1 {
        max-width: 558px;
        margin-bottom: 32px !important;
    }

    .EP-article__section__three p, .EP-article__section__four p, .EP-article__section__seven p {
        color: #000 !important;
    }
    
    .EP-article-main .EP-blog__quote {
        font-family: var(--OSTR);
        font-size: 23px !important;
        font-weight: 600;
        color: #000000;
        line-height: 29px;
        margin-bottom: 20px;
        margin-left: 32px;
        position: relative;
        line-height: 32px !important;
    }

    .EP-blog__quote::before {
        content: url('https://res.cloudinary.com/duecvwrkz/image/upload/v1687510662/Eureka%20Pet/unnamed_ajkdgt.png');
        position: absolute;
        left: -40px;
    }

    .article__section__three__wrapper, .article__section__seven__wrapper {
        display: flex;
        gap: 20px;
    }

    .article__section__three__wrapper .article__section__three__wrapper__left, 
    .article__section__three__wrapper .article__section__three__wrapper__right {
        flex: 1;
    }

    .article__section__seven__wrapper .article__section__seven__wrapper__left, 
    .article__section__seven__wrapper .article__section__seven__wrapper__right {
        flex: 1;
    }

    .EP-article__section__four {
        margin-top: 32px;
    }

    .EP-article__section__four h1 {
        margin-bottom: 18px !important;
    }

    .EP-article__section__four h4 {
        margin-bottom: 20px !important;
    }
    
    .EP-article__section__five {
        margin: 55px 0;
    }

    .EP-article__section__five img {
        width: 100%;
        max-height: 562px;
    }

    .EP-article__section__six {
        display: flex;
        gap: 55px;
        align-items: center;
        margin-bottom: 42px;
    }

    .EP-article__section__six .EP-article__section__six__left img {
        width: 100%;
        border-radius: 20px;
    }

    .EP-article__section__six .EP-article__section__six__left, 
    .EP-article__section__six .EP-article__section__six__right {
        flex: 1;
    }

    .EP-article__section__six__right h1 {
        margin-bottom: 16px !important;
    }

    .article__section__seven__wrapper p {
        position: relative;
        margin-left: 28px;
    }
    
    .article__section__seven__wrapper p::before {
        content: '';
        width: 11px;
        height: 11px;
        background: #FAAE50;
        color: #FAAE50;
        border-radius: 100%;
        position: absolute;
        left: -30px;
        top: 4px;
    }

    .EP-article__inner p {
        color: #000 !important;
    }

    @media screen and (max-width: 1250px) {
        .EP-article__hero  {
            background-image: none !important;
            padding-left: 32px;
            padding-top: 50px;
        }

        .EP-article-main .EP-article__hero {
            display: block;
        }

        .EP-article-main .EP-hero__image {
            display: flex;
            justify-content: center;
        }

        .EP-article-main .EP-hero__image img {
            width: auto;
        }

        .EP-article-main .EP-article__hero .EP-article__hero__col1, .EP-article__hero h1 {
            max-width: none;
        }
        
        .EP-article-main .EP__article__dog__notice::after {
            content: url('');
            background: url(https://res.cloudinary.com/duecvwrkz/image/upload/v1687516771/Eureka%20Pet/Article_Pet_Notice_hfa4cq.svg) no-repeat;
            position: absolute;
            bottom: -52px;
            left: 0px;
            width: 100%;
            height: 120%;
            background-size: contain;
        }

        .EP-article-main .EP-article__section__two {
            display: block;
        }

        .EP-article-main .EP-article__section__two .EP-article__section__two__right {
            margin-top: 45px;
            margin-bottom: 52px; 
        }
    }

    @media screen and (max-width: 980px) {
        .EP-article-main .EP-article__section__two .EP-article__section__two__left h2 p {
            font-size: 20px !important;
            line-height: 25px !important;
        }

        .EP-article-main .EP-article__section__two .EP-article__section__two__left p, .EP-article-main .EP-article__section__two .EP-article__section__two__right p {
            font-size: 14px !important; 
            line-height: 17px !important;
        }

        .article__section__three__wrapper {
            display: block;
        }

        .EP-article__inner p {
            font-size: 14px !important;
        }

        .EP-article-main .EP-blog__quote {
            font-size: 20px !important;
            line-height: 28px !important;
        }

        .EP-article__section__three h1, .EP-article__section__seven h1 {
            margin-bottom: 15px !important;
        }

        .EP-article__section__four {
            margin-top: 32px;
        }

        .EP-article__section__six {
            flex-direction: column;
            gap: 35px;
        }

        .article__section__seven__wrapper {
            flex-direction: column;
        }
    }

    @media screen and (max-width: 600px) { 
        .EP-article-main .EP-article__inner {
            margin-top: 40px;
        }

        .EP-article-main .EP__article__dog__notice h5 {
            max-width: 265px;
            margin: auto;
            font-size: 30px !important;
            line-height: 35px !important;
        }

        .EP-article-main .EP__article__dog__notice::after {
            bottom: -28px;
            left: -15px;
            height: 35%;
            right: auto;
            top: auto;
        }

        .EP-article-main .EP-article__hero {
            background-image: none;
            padding-left: 26px;
            padding-right: 26px;
            padding-top: 52px;
        }

        .EP-article-main .EP-article__hero h1 {
            font-size: 30px !important;
            line-height: 35px !important;
        }

        .EP-article__hero .EP-article__hero__col1 .EP--flex {
            margin-top: 18px;
        }
        
        .EP-article__hero .EP-article__hero__col1 label {
            font-size: 14px;
        }

        .EP-article-main .EP-article__hero .EP-article__hero__col1 {
            max-width: none;
        }

        .EP-article__section__two__right__inner__row1 h5 {
            margin-left: 18% !important;
            font-size: 24px !important;
        }

        .EP-article-main .EP-article__section__two .EP-article__section__two__right img {
            max-height: 335px;
            transform: none;
        }
        
        .EP-article-main .EP-article__section__two__right__inner {
            padding: 30px 16px 30px 30px;
        }

        .EP-article-main .EP-article__section__two__right__inner__row1 h3 {
            font-size: 44px !important;
            margin-bottom: 20%;
            line-height: 25px !important;
        }

        .EP-article-main .EP-hero__image {
            margin-top: 15%;
        }

        .EP-article__section__six {
            margin-bottom: 24px !important;
        }

        .EP-article__section__five {
            margin: 35px 0 !important;
        }
        
    }

</style>

<Article class="EP-article-main">
    {% if article.metafields["custom_fields"]["ep_article_hero_image"] != blank %}
        <div class="EP-article__hero">
            <div class="EP--flex">
                <div class="EP--flex--1 EP-article__hero__col1">
                    <h1>{{ article.metafields["custom_fields"]["ep_article_title"] }}</h1>
                    <div class="EP--flex">
                        <label>{{ article.metafields["custom_fields"]["ep_article_category_name"] }}</label>
                        <label>{{ article.metafields["custom_fields"]["ep_article_date"] }}</label>
                    </div>
                </div>
            </div>
            {% if article.metafields["custom_fields"]["ep_article_hero_image"] != blank %}
                <div class="EP-hero__image">
                    {% render 'cf-image' with image: article.metafields["custom_fields"]["ep_article_hero_image"] %}
                </div>
            {% endif %}
        </div>
    {% endif %}
    <div class="EP-article__inner">
        <div class="EP-article__section__two">
            <div class="EP-article__section__two__left">
                <h2 class="EP--mb--24"> {{ article.metafields["custom_fields"]["ep_article_first_heading"] }} </h2>
                <p class="EP--mb--22"> {{ article.metafields["custom_fields"]["ep_article_left_para_1"] }} </p>
                <p class="EP--mb--22"> {{ article.metafields["custom_fields"]["ep_article_left_para_2"] }}</p>
                {% if article.metafields["custom_fields"]["article_dog_notice"] != blank %}
                    <div class="EP__article__dog__notice EP--mb--22">
                        {{ article.metafields["custom_fields"]["article_dog_notice"] }}
                    </div>
                {% endif %}
                <p class="EP--mb--22 EP--mt--60">{{ article.metafields["custom_fields"]["ep_article_left_para_3"] }}</p>
                <p class="EP--mb--22"> {{ article.metafields["custom_fields"]["ep_article_left_para_4"] }}</p>
            </div>

            {% if article.metafields["custom_fields"]["article_eureka_scoop_image"] != blank %}
                <div class="EP-article__section__two__right">
                    <div class="EP-article__section__two__right__inner">
                            <div class="EP-article__section__two__right__inner__row1">
                                {{ article.metafields["custom_fields"]["article_eureka_scoop_column_h5"] }}
                                {{ article.metafields["custom_fields"]["article_eureka_scoop_column_h3"] }}
                            </div>
                            <div class="EP--flex EP--justify--center EP-article__section__two__right__inner__row2">
                                {% render 'cf-image' with image: article.metafields["custom_fields"]["article_eureka_scoop_image"] %}
                            </div>
                            <div class="EP-article__section__two__right__inner__row3">
                                <p>{{ article.metafields["custom_fields"]["eureka_scoop_para_1"] }}</p>
                                <p>{{ article.metafields["custom_fields"]["eureka_scoop_para_2"] }}</p>
                            </div>
                    </div>
                </div>
            {% endif %}
        </div>

<!-- Slider starts -->

{% if article.metafields["custom_fields"]["ep-single-blog-slider"] != blank %}
{% style %}

{% if block.settings.title_font_custom != blank %}{{ block.settings.title_font | font_face }}{% endif %}

#block-{{ block.id }} {
  --content-max-width: {{ block.settings.content_max_width }}px;
  {% if block.settings.title_font_custom != blank %}
  --title-font-weight: {{ block.settings.title_font.weight }};
  --title-font-style: {{ block.settings.title_font.style }};
  --title-font-family: {{ block.settings.title_font.family }};
  {% endif %}
  --margin-top: {{ block.settings.margin_top }}rem;
  --margin-bottom: {{ block.settings.margin_bottom }}rem;
  --title-font-size: {{ block.settings.title_font_size }}px;
  --title-line-height: {{ block.settings.title_line_height }}em;
  --title-margin-bottom: {{ block.settings.title_margin_bottom }}rem;
  --title-max-width: {{ block.settings.title_max_width }}px;
  --title-font-color: {{ block.settings.title_font_color }};
  --title-font-color-light: {{ block.settings.title_font_color_light }};
  --body-font-size: {{ block.settings.body_font_size }}px;
  --body-line-height: {{ block.settings.body_line_height }}em;
  --body-margin-bottom: {{ block.settings.body_margin_bottom }}rem;
  --body-font-color: {{ block.settings.body_font_color }};
  --body-font-color-light: {{ block.settings.body_font_color_light }};
  --link-padding: {{ block.settings.link_padding }};
  --link-border-radius: {{ block.settings.link_border_radius }};
  --link-font-size: {{ block.settings.link_font_size }}px;
  --link-bg-color: {{ block.settings.link_bg_color }};
  --link-hover-bg-color: {{ block.settings.link_hover_bg_color }};
  --link-border: {{ block.settings.link_border }};
  --link-font-color: {{ block.settings.link_font_color }};
  --link-hover-font-color: {{ block.settings.link_hover_font_color }};
  --link-bg-color-light: {{ block.settings.link_bg_color_light }};
  --link-hover-bg-color-light: {{ block.settings.link_hover_bg_color_light }};
  --link-border-light: {{ block.settings.link_border_light }};
  --link-font-color-light: {{ block.settings.link_font_color_light }};
  --link-hover-font-color-light: {{ block.settings.link_hover_font_color_light }};
  --bg-color-light: {{ block.settings.bg_color_light }};
  --bg-color-dark: {{ block.settings.bg_color_dark }};
  --bg-opacity: {{ block.settings.bg_opacity }};

  {% if block.settings.margin_top != blank %}margin-top: var(--margin-top);{% endif %}
  {% if block.settings.margin_bottom != blank %}margin-bottom: var(--margin-bottom);{% endif %}
}

#block-{{ block.id }} .inner-maxwidth {
  {% if block.settings.content_max_width != blank %}max-width: var(--content-max-width);{% endif %}
}

#block-{{ block.id }} .cf-widget-field__title {
  {% if block.settings.title_font_size != blank %}font-size: var(--title-font-size);{% endif %}
  {% if block.settings.title_line_height != blank %}line-height: var(--title-line-height);{% endif %}
  {% if block.settings.title_margin_bottom != blank %}margin-bottom: var(--title-margin-bottom);{% endif %}
  {% if block.settings.title_max_width != blank %}max-width: var(--title-max-width);{% endif %}
  {% if block.settings.title_font_color != blank %}color: var(--title-font-color);{% endif %}
  {% if block.settings.title_font_custom != blank %}
  font-weight: var(--title-font-weight) !important;
  font-style: var(--title-font-style) !important;
  font-family: var(--title-font-family) !important;
  {% endif %}
}

#block-{{ block.id }} .cf-widget-field__body {
  {% if block.settings.body_font_size != blank %}font-size: var(--body-font-size);{% endif %}
  {% if block.settings.body_line_height != blank %}line-height: var(--body-line-height);{% endif %}
  {% if block.settings.body_margin_bottom != blank %}margin-bottom: var(--body-margin-bottom);{% endif %}
  {% if block.settings.body_font_color != blank %}color: var(--body-font-color);{% endif %}
}

#block-{{ block.id }} .cf-widget-field__link a {
  {% if block.settings.link_font_size != blank %}font-size: var(--link-font-size);{% endif %}
  {% if block.settings.link_font_color != blank %}color: var(--link-font-color);{% endif %}
  {% if block.settings.link_bg_color != blank %}background-color: var(--link-bg-color);{% endif %}
  {% if block.settings.link_padding != blank %}padding: var(--link-padding);{% endif %}
  {% if block.settings.link_border != blank %}border: var(--link-border);{% endif %}
  {% if block.settings.link_border_radius != blank %}border-radius: var(--link-border-radius);{% endif %}
}

#block-{{ block.id }} .cf-widget-field__link a:hover {
  {% if block.settings.link_hover_bg_color != blank %}background-color: var(--link-hover-bg-color);{% endif %}
  {% if block.settings.link_hover_font_color != blank %}color: var(--link-hover-font-color);{% endif %}
}

#block-{{ block.id }} .cf-widget-item.cf-light-text--1 .cf-widget-field__link a {
  {% if block.settings.link_font_color_light != blank %}color: var(--link-font-color-light);{% endif %}
  {% if block.settings.link_bg_color_light != blank %}background-color: var(--link-bg-color-light);{% endif %}
  {% if block.settings.link_border_light != blank %}border: var(--link-border-light);{% endif %}
}

#block-{{ block.id }} .cf-widget-item.cf-light-text--1 .cf-widget-field__link a:hover {
  {% if block.settings.link_hover_bg_color_light != blank %}background-color: var(--link-hover-bg-color-light);{% endif %}
  {% if block.settings.link_hover_font_color_light != blank %}color: var(--link-hover-font-color-light);{% endif %}
}

#block-{{ block.id }} .cf-widget-item.cf-light-text--1 .cf-widget-field__title {
  {% if block.settings.title_font_color_light != blank %}color: var(--title-font-color-light);{% endif %}
}

#block-{{ block.id }} .cf-widget-item.cf-light-text--1 .cf-widget-field__body {
  {% if block.settings.body_font_color_light != blank %}color: var(--body-font-color-light);{% endif %}
}

#block-{{ block.id }} .cf-widget-bg-overlay {
  {% if block.settings.bg_color_dark != blank %}background-color: var(--bg-color-dark);{% endif %}
  {% if block.settings.bg_opacity != blank %}opacity: var(--bg-opacity);{% endif %}
}

#block-{{ block.id }} .cf-widget-item.cf-light-text--1 .cf-widget-bg-overlay {
  {% if block.settings.bg_color_light != blank %}background-color: var(--bg-color-light);{% endif %}
}
{% endstyle %}
<div id="block-{{ block.id }}" class="cf-widget-ep-single-blog-slider cf-widget__image-slider-v2 cf-auto-init EP-single-blog-slider"
     data-hide_arrows="{% if block.settings.widget_hide_arrows %}1{% else %}0{% endif %}"
     data-hide_pager="{% if block.settings.widget_hide_pager %}1{% else %}0{% endif %}"
     data-randomize="{% if block.settings.widget_randomize %}1{% else %}0{% endif %}"
     data-interval="{{ block.settings.widget_interval | times: 1000 }}"
     data-effect="{{ block.settings.widget_effect }}"
     data-animate_speed="{{ block.settings.widget_animate_speed }}">
  <div class="cf-widget-items-wrapper cf-slider">
    <div class="cf-slides-wrapper">
      {% for item in article.metafields["custom_fields"]["ep-single-blog-slider"] %}
      <div class="cf-widget-item cf-slide cf-text-pos--{{ item.text_pos }} cf-light-text--{{ item.light_text }}">
        <div class="slide-image" style="background-image:url('{% render "cf-image" with image: item.image, crop: "center", print: "url", size: "1920x1080" %}');"></div>
        <div class="cf-widget-bg-overlay"></div>
        <div class="inner">
          <div class="inner-padding">
            <div class="inner-maxwidth">
              
                {% if item.title != blank %}
                <div class="cf-widget-field cf-widget-field__title cf-widget-field--text">
                  {{ item.title }}
                </div>
                {% endif %}
              
                {% if item.body != blank %}
                <div class="cf-widget-field cf-widget-field__body cf-widget-field--html">
                  {{ item.body }}
                </div>
                {% endif %}
              
                {% if item.link != blank %}
                <div class="cf-widget-field cf-widget-field__link cf-widget-field--link">
                  {{ item.link }}
                </div>
                {% endif %}
              
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
<!-- Slider ends -->

        <div class="EP-article__section__three">
            <h1>{{ article.metafields["custom_fields"]["ep_article_sec_4_heading"] }}</h1>
            <div class="article__section__three__wrapper">
                <div class="article__section__three__wrapper__left">
                    <p>{{ article.metafields["custom_fields"]["ep_article_sec_4_left_para_1"] }}</p>
                    {% if article.metafields["custom_fields"]["ep_article_sec_4_left_quote"] != blank %}
                        <p class="EP-blog__quote">{{ article.metafields["custom_fields"]["ep_article_sec_4_left_quote"] }}</p>
                    {% endif %}
                    <p>{{ article.metafields["custom_fields"]["ep_article_sec_4_left_para_2"] }}</p>
                </div>
                <div class="article__section__three__wrapper__right">
                    <p>{{ article.metafields["custom_fields"]["ep_article_sec_4_right_para_1"] }}</p>
                    <p>{{ article.metafields["custom_fields"]["ep_article_sec_4_right_para_2"] }}</p>
                    <p>{{ article.metafields["custom_fields"]["ep_article_sec_4_right_para_3"] }}</p>
                </div>
            </div>
        </div>
        <div class="EP-article__section__four">
            <h1>{{ article.metafields["custom_fields"]["ep_article_sec_5_heading"] }}</h1>
            <h4>{{ article.metafields["custom_fields"]["ep_article_sec_5_sub_heading"] }}</h4>
            <p>{{ article.metafields["custom_fields"]["ep_article_sec_5_para_1"] }}</p>
            {% if article.metafields["custom_fields"]["ep_article_sec_5_quote"] != blank %}
                <p class="EP-blog__quote">{{ article.metafields["custom_fields"]["ep_article_sec_5_quote"] }}</p>
            {% endif %}
            <p>{{ article.metafields["custom_fields"]["ep_article_sec_5_para_2"] }}</p>
        </div>
        {% if article.metafields["custom_fields"]["ep_article_sec_6_image"] != blank %}
            <div class="EP-article__section__five">
                {% render 'cf-image' with image: article.metafields["custom_fields"]["ep_article_sec_6_image"] %}
            </div>
        {% endif %}
        <div class="EP-article__section__six">
            {% if article.metafields["custom_fields"]["ep_article_sec_7_image"] != blank %}
                <div class="EP-article__section__six__left">
                    {% render 'cf-image' with image: article.metafields["custom_fields"]["ep_article_sec_7_image"] %}
                </div>
            {% endif %}
            <div class="EP-article__section__six__right">
                <h1>{{ article.metafields["custom_fields"]["ep_article_sec_7_right_heading"] }}</h1>
                <p>
                    {{ article.metafields["custom_fields"]["ep_article_sec_7_right_para_1"] }}
                </p>
                <p>
                    {{ article.metafields["custom_fields"]["ep_article_sec_7_right_para_2"] }}
                </p>
            </div>
        </div>
        <div class="EP-article__section__seven">
            <h1>{{ article.metafields["custom_fields"]["__ep_article_sec_8_heading"] }}</h1>
            <div class="article__section__seven__wrapper">
                <div class="article__section__seven__wrapper__left">
                    <p>{{ article.metafields["custom_fields"]["__ep_article_sec_8_left_para_1"] }}</p>
                    <p>{{ article.metafields["custom_fields"]["__ep_article_sec_8_left_para_2"] }}</p>
                </div>
                <div class="article__section__seven__wrapper__right">
                    <p>{{ article.metafields["custom_fields"]["__ep_article_sec_8_right_p_1"] }}</p>
                    <p>{{ article.metafields["custom_fields"]["__ep_article_sec_8_right_p_2"] }}</p>
                </div>
            </div>
        </div>
    </div>
</Article>

  